$mobile:576px;
$tablets:  768px;
$desktop: 992px;
$large-screen:1200px;
$xtralarge-screen:1400px;
@mixin media-breakpoint-up-mobile {
    @media (min-width: #{$mobile}) {
      @content;
    }
  }

  
@mixin media-breakpoint-up-tablets {
    @media (min-width: #{$tablets}) {
      @content;
    }
  }

  @mixin media-breakpoint-up-desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
  }

  @mixin media-breakpoint-up-large-screen {
    @media (min-width: #{$large-screen}) {
      @content;
    }
  }
  @mixin media-breakpoint-up-xtralarge-screen {
    @media (min-width: #{$xtralarge-screen}) {
      @content;
    }
  }


// breakpointdown

  @mixin media-breakpoint-down-mobile {
    @media (max-width: #{$mobile - 0.02}) {
      @content;
    }
  }

  
@mixin media-breakpoint-down-tablets {
    @media (max-width: #{$tablets - 0.02}) {
      @content;
    }
  }

  @mixin media-breakpoint-down-desktop {
    @media (max-width: #{$desktop - 0.02}) {
      @content;
    }
  }

  @mixin media-breakpoint-down-large-screen {
    @media (max-width: #{$large-screen - 0.02}) {
      @content;
    }
  }

// mediabreakpointonly


  @mixin media-breakpoint-only-mobile {
    @media (min-width: #{$mobile}) and (max-width: #{$tablets - 0.02}) {
      @content;
    }
  }

  
@mixin media-breakpoint-only-tablets {
    @media (min-width: #{$tablets}) and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  }

  @mixin media-breakpoint-only-desktop {
    @media (min-width: #{$desktop}) and (max-width: #{$large-screen - 0.02}) {
      @content;
    }
  }




