// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//
// Color system
//
$blue: #00aced !default;
$red: #db5b42 !default;
$yellow: #fb3 !default;
$green: #149077 !default;
$cyan: #1dcaff !default;
$lightblue:#f0faff;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Hind Vadodara", sans-serif !default;

$text-color:#69798d;
$link-color:#172b43;

$primary:#d8cd00 ;
$link-color: #746e03;
$secondary: #222222;
$primary-2:#d2c805;



